@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --yarl__container_background_color: rgba(0, 0, 0, 0.8);
}

@layer base {
  body {
    @apply max-w-lg mx-auto;
  }

  img {
    @apply object-cover w-full h-full block;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}
